@use "./variables" as *;
@use "../mixins/media" as *;

* {
	box-sizing: border-box;
	user-select: none;
}

html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
	background-color: $body;
	font-family: "Inter", sans-serif;
}

.container {
	max-width: 1440px;
	@include tablet {
		max-width: 688px;
	}
	margin: 0 auto;
}
