* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: #e1d4c9;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 688px;
  }
}