@use "../mixins/media" as *;
@use "../mixins/mixins" as *;
@use "../base/variables" as *;

.about {
	margin-top: 200px;
	// @media (max-height: 920px) {
	// 	margin-top: 200px;
	// }
	@media (max-width: 410px) {
		margin-top: 320px;
	}
	@include mobile {
		margin-top: 200px;
	}
	h2 {
		@include heading-2;
		@include mobile {
			@include heading-2-mobile;
		}
		text-align: left;
		color: $dark_text;
		// margin-top: 100px;
		@media (max-width: 655px) {
			// margin-top: 200px;
			text-align: center;
		}
		span {
			color: $accent_text;
			@include accent;
		}
	}
	.images {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include tablet {
			display: flex;
			flex-wrap: wrap;
		}
		grid-auto-rows: clamp(120px, 12vw, 160px);
		grid-auto-flow: dense;
		gap: 40px;
		.image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 14px;
			display: block;
			transition: 1s;

			@include hover-only {
				&:hover {
					transform: scale(0.9);
					cursor: pointer;
				}
			}
		}
		.a {
			grid-column: 1;
			grid-row: span 3;
		}
		.b {
			grid-column: 2;
			grid-row: span 2;
			@include tablet {
				display: none;
			}
		}
		.c {
			grid-column: 1;
			grid-row: span 2;
			@include tablet {
				display: none;
			}
		}
		.d {
			grid-column: 2;
			grid-row: span 3;
		}
	}
}
