@use "../mixins/media" as *;
@use "../mixins/mixins" as *;
@use "../base/variables" as *;

.home {
	.fav_coffee {
		height: 799px;
		position: relative;
		h2 {
			@include heading-2;
			color: $dark_text;
			@include mobile {
				@include heading-2-mobile;
			}
			span {
				color: $accent_text;
				@include accent;
			}
		}
		.slider {
			display: flex;
			justify-content: space-around;
			align-items: center;
			.arrow-right,
			.arrow-left {
				border: 1px solid $dark_border;
				border-radius: 50%;
				padding: 10px;
				color: #665f55;
				@include hover-only {
					&:hover {
						cursor: pointer;
						background-color: #665f55;
						color: $light_text;
					}
				}
			}
			.drink {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				animation: slideInHoldOut 3000ms ease-in-out forwards;
				// animation: none;
				pointer-events: none;
				@include hover-only {
					&:hover {
						cursor: pointer;
					}
				}
				.drink-name {
					@include heading-3;
				}
				.drink-info {
					@include medium;
				}
				.price {
					@include heading-3;
				}
				&.animate {
					animation: slideInHoldOut 3000ms ease-in-out forwards;
				}
				&.animate.paused {
					animation-play-state: paused;
				}
			}
			.slider-viewport {
				width: 480px;
				height: 750px;
				@media (max-width: 580px) {
					// height: 750px;
				}

				@include mobile {
					height: 760px;
				}
				@media (max-width: 1450px) {
					overflow: hidden;
				}
				position: relative;
			}
		}
		.three-lines {
			display: flex;
			justify-content: center;
			gap: 15px;
			margin-top: 30px;
			.progress-bar {
				width: 60px;
				height: 6px;
				background-color: $light_border;
				position: relative;
				overflow: hidden;
				border-radius: 3px;
				// font-size: 40px;
				// color: $light_border;
				// position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 0%;
					background-color: $container;
				}
				&.active::before {
					animation: lineProgress 3s linear forwards;
				}
				&.paused::before {
					animation-play-state: paused;
				}
				&.resume::before {
					// animation-play-state: running;
				}
			}
		}
		.loader {
			font-size: 40px;
			color: #403f3d;
			font-weight: 600;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

@keyframes slideInHoldOut {
	0% {
		transform: translateX(100%);
		opacity: 0;
		pointer-events: none;
	}
	35% {
		transform: translateX(0);
		opacity: 1;
		pointer-events: auto;
	}
	70% {
		transform: translateX(0);
		opacity: 1;
		pointer-events: auto;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
		pointer-events: none;
	}
}

@keyframes lineProgress {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
