@use "../mixins/media" as *;
@use "../mixins/mixins" as *;
@use "../base/variables" as *;

.home {
	.hero {
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 644px;
		display: flex;
		@media (max-width: 1300px) {
			// justify-content: center;
		}
		@media (max-width: 475px) {
			height: 550px;
		}
		border-radius: 30px;
		margin: 0 auto;
		.bg-video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}

		.behind {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			margin-left: 100px;
			z-index: 1;
			@media (max-width: 1300px) {
				align-items: center;
				margin: 0;
				margin-left: 20px;
				// align-items: center;
				// flex-wrap: wrap;
				// flex-direction: row;
				// align-content: center;
				// width: 80%;
				// justify-content: space-around;
				// margin: 0 auto;
			}
			@include mobile {
			}
			h1 {
				color: $light_text;
				text-align: left;
				line-height: 1;
				width: 50%;
				@media (max-width: 1300px) {
					// font-size: 50px;
					width: 70%;
				}
				@media (max-width: 1000px) {
					font-size: 50px;
					// text-align: center;
				}
				@media (max-width: 600px) {
					font-size: 42px;
					line-height: 115%;
					font-weight: 600;
					width: 100%;
					// text-align: center;
				}
				span {
					color: $accent_text;
					@include accent;
				}
				@include heading-1;
				@include mobile {
					@include heading-1-mobile;
				}
			}
			p {
				color: $light_text;
				text-align: left;
				width: 50%;
				@include medium;
				@media (max-width: 1300px) {
					width: 70%;
				}
				@media (max-width: 1000px) {
					// text-align: center;
				}
				@media (max-width: 600px) {
					width: 100%;
					// text-align: center;
				}
			}
			button {
				background-color: $body;
				color: $dark_text;
				@include link_button;
				width: 10%;
				@media (max-width: 1300px) {
					align-self: center;
				}
				padding: 20px 80px;
				border-radius: 999px;
				display: flex;
				justify-content: center;
				align-items: center;
				align-self: flex-start;
				margin-top: 50px;
				// margin-bottom: 100px;
				border: none;
				gap: 8px;
				@include hover-only {
					&:hover {
						cursor: pointer;
						.fa-mug-hot {
							visibility: visible;
						}
					}
				}
				.fa-mug-hot {
					visibility: hidden;
				}
			}
		}
	}
}
