@use "../mixins/media" as *;
@use "../mixins/mixins" as *;
@use "../base/variables" as *;

.mob_app {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 630px;
	gap: 50px;
	@include tablet {
		flex-direction: column;
		// margin-top: 0px;
		margin-bottom: 400px;
	}
	@include mobile {
		margin-bottom: 200px;
	}
	@media (max-width: 475px) {
		// flex-direction: row;
	}

	.first_block {
		width: 40%;
		display: flex;
		flex-direction: column;
		gap: 40px;
		@include tablet {
			width: 100%;
			// align-items: center;
			// justify-content: center;
			// align-self: flex-start;
		}
		@media (max-width: 475px) {
			// width: 50%;
			// flex-direction: row;
			// flex-wrap: wrap;
		}
		h2 {
			@include heading-2;
			text-align: left;
			margin: 0;
			@include mobile {
				@include heading-2-mobile;
			}
			.download {
				color: $accent_text;
				@include accent;
			}
		}
		p {
			text-align: left;
			@include medium;
			color: $dark_text;
		}
		.buttons {
			display: flex;
			gap: 20px;
			@media (max-width: 475px) {
				flex-wrap: wrap;
			}
			.app_store,
			.google_play {
				display: flex;
				justify-content: center;
				align-items: center;
				// justify-content:
				// gap: 20px;
				// padding: 12px 20px;
				height: 64px;
				min-width: 220px;
				border: 1px solid $dark_border;
				border-radius: 999px;
				color: $dark_text;

				.fa-brands {
					font-size: 28px;
					line-height: 1;
					color: $dark_text;
					margin-left: 20px;
				}

				.small-block {
					display: flex;
					flex-direction: column;
					line-height: 1.1;
					margin-left: 10px;
					p {
						margin: 0;
					}
					p:first-child {
						@include caption;
						color: $dark_text;
					}
					p:last-child {
						@include link_button;
						color: $dark_text;
					}
				}

				@include hover-only {
					&:hover {
						background: $container;
						cursor: pointer;
						p:first-child,
						p:last-child,
						.fa-brands {
							color: $light_text;
						}
					}
				}
			}
		}
	}
	.second_block {
		width: 40%;
		@include tablet {
			width: 80%;
			// margin-top: 100px;
		}
		img {
			width: 100%;
		}
	}
}
