@use "../mixins/media" as *;
@use "../mixins/mixins" as *;
@use "../base/variables" as *;

.modal {
	display: flex;
	position: fixed;
	inset: 0;
	place-items: center;
	z-index: 10000;
	background-color: $light_text;
	width: 800px;
	height: 610px;
	@media (max-width: 800px) {
		width: 90%;
		height: 800px;
	}
	@media (max-width: 700px) {
		width: 380px;
		height: 750px;
	}
	@media (max-width: 354px) {
		height: 850px;
	}
	@media (max-height: 1000px) {
		height: 700px;
	}
	@media (max-height: 800px) {
		height: 600px;
		font-size: 13px;
	}
	@media (max-height: 700px) {
		height: 570px;
		font-size: 10px;
	}
	@media (max-height: 600px) {
		height: 450px;
		font-size: 9px;
	}
	border-radius: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 16px;
	padding-bottom: 100px;
	.close {
		border-radius: 100%;
		color: #c1b6ad;
		border: 1px solid $light_border;
		position: absolute;
		top: 0;
		right: 0;
		width: 44px;
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(0, -120%);
		&:hover {
			background-color: $dark_border;
			color: $light_text;
			cursor: pointer;
		}
		@media (max-width: 700px) {
			top: 65px;
			right: 10px;
		}
	}
	.modal_photo {
		@media (max-width: 700px) {
			display: none;
		}
		align-self: flex-start;
		width: 40%;
		border-radius: 25px;
		margin-left: 16px;
	}
	.info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		@media (max-height: 1000px) {
			justify-content: center;
		}
		@media (max-width: 700px) {
			justify-content: center;
		}
		height: 100%;
		.name {
			@include heading-3;
			color: $dark_text;
			display: flex;
			margin-left: 20px;
		}
		.description {
			@include medium;
			color: $dark_text;
			display: flex;
			margin-left: 20px;
			text-align: left;
			@media (max-width: 800px) {
				width: 80%;
			}
		}
		.size {
			@include medium;
			color: $dark_text;
			display: flex;
			margin-left: 20px;
		}
		.sizes_block {
			display: flex;
			flex-wrap: wrap;
			@media (max-width: 800px) {
				// flex-wrap: wrap;
			}
			margin-left: 20px;
			gap: 10px;
			@media (max-width: 600px) {
				// flex-wrap: wrap;
				// gap: 30px;
			}
			@media (max-width: 410px) {
				gap: 10px;
			}
			.small,
			.medium,
			.large,
			.extra_large,
			.extra_extra_large {
				display: flex;
				align-items: center;
				gap: 10px;
				border: 1px solid $light_border;
				border-radius: 50px;
				padding: 0 15px;
				@media (max-width: 800px) {
					// width: 25%;
					padding: 0 28px;
				}
				@include hover-only {
					&:hover {
						cursor: pointer;
						background-color: $dark_border;
						.size_s,
						.size_m,
						.size_l {
							color: $light_text;
						}
						.s,
						.m,
						.l {
							background-color: $light_text;
						}
					}
				}
				&:hover .tooltip {
					opacity: 1;
					visibility: visible;
				}
			}
			.s,
			.m,
			.l,
			.xl,
			.xxl {
				border: 1px solid $light_border;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $dark_text;
				background-color: $light_border;
				font-weight: bold;
			}
			.size_s,
			.size_m,
			.size_l,
			.size_xl,
			.size_xxl {
				color: $dark_text;
				@include link_button;
			}
		}
		.additives {
			display: flex;
			margin-left: 20px;
		}
		.additives_block {
			display: flex;
			@media (max-width: 800px) {
				flex-wrap: wrap;
			}
			gap: 10px;
			@media (max-width: 600px) {
				// gap: 11px;
			}
			@media (max-width: 410px) {
				gap: 10px;
			}
			margin-left: 20px;
			.first,
			.second,
			.third {
				display: flex;
				gap: 10px;
				align-items: center;
				border: 1px solid $light_border;
				border-radius: 50px;
				padding: 0 15px;
				@media (max-width: 600px) {
					padding: 0 23px;
				}
				@media (max-width: 410px) {
					padding: 0 20px;
				}
				@include hover-only {
					&:hover {
						cursor: pointer;
						background-color: $dark_border;
						.first_additive,
						.second_additive,
						.third_additive {
							color: $light_text;
						}
						.additive_one,
						.additive_two,
						.additive_three {
							background-color: $light_text;
						}
						.tooltip {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
			.additive_one,
			.additive_two,
			.additive_three {
				border: 1px solid $light_border;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $dark_text;
				background-color: $light_border;
				font-weight: bold;
			}
			.first_additive,
			.second_additive,
			.third_additive {
				@include link_button;
				color: $dark_text;
			}
		}

		.total_price_block {
			display: flex;
			justify-content: space-between;
			margin-right: 20px;
			.total {
				margin-left: 20px;
				@include heading-3;
				color: $dark_text;
			}
			// .prices {
			// 	display: flex;
			// }
			.total_price {
				@include heading-3;
				color: $dark_text;
				// text-decoration: line-through;
				// opacity: 0.5;
				// margin-right: 10px;
			}
			// .total_discounted_price {
			// 	@include heading-3;
			// 	color: $dark_text;
			// }
		}
		.tooltip {
			position: absolute;
			background-color: #333;
			color: #fff;
			padding: 8px 12px;
			border-radius: 4px;
			font-size: 14px;
			z-index: 1000;
			white-space: nowrap;
			opacity: 0;
			visibility: hidden;
			transition:
				opacity 0.2s ease,
				visibility 0.2s ease;
			top: -40px; /* Position above the element */
			left: 50%;
			transform: translateX(-50%);
			pointer-events: none; /* Prevent tooltip from interfering with clicks */
			&::after {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 50%;
				transform: translateX(-50%);
				border-width: 5px;
				border-style: solid;
				border-color: #333 transparent transparent transparent; /* Arrow pointing down */
			}
		}
		.warning {
			font-size: 10px;
			font-weight: 600;
			line-height: 140%;
			color: #403f3d;
			display: flex;
			align-items: center;
			text-align: left;
			gap: 12px;
			margin-right: 20px;
		}
	}
	.add_cart {
		@include link_button;
		color: $dark_text;
		position: absolute;
		bottom: 2%;
		right: 2%;
		border: 1px solid $dark_border;
		padding: 15px 219px;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 800px) {
			padding: 15px 180px;
		}
		@media (max-width: 700px) {
			padding: 0;
			// padding: 15px 150px;
			width: 350px;
			height: 50px;

			left: 50%;
			transform: translateX(-50%);
			display: flex;
			justify-content: center;
		}
		@include mobile {
			// padding: 15px 150px;
		}
		@include hover-only {
			&:hover {
				cursor: pointer;
				background-color: $container;
				color: $light_text;
			}
		}
	}
}

.backdrop {
	position: fixed;
	inset: 0;
	background-color: $backdrop;
	z-index: 999;
	pointer-events: auto;
}

.modal-open {
	overflow: hidden;
}

.modal_button_active {
	background-color: $dark_border;
	color: $light_text;
	.s,
	.m,
	.l,
	.xl,
	.xxl,
	.additive_one,
	.additive_two,
	.additive_three {
		background-color: $light_text !important;
	}
	.size_s,
	.size_m,
	.size_l,
	.size_xl,
	.size_xxl,
	.first_additive,
	.second_additive,
	.third_additive {
		color: $light_text !important;
	}
}
